body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
   
    background-image: url('image.jpeg'); 
    background-size: cover; 
    background-position: center; 
    margin: 0; 
    padding: 0; 
}

#grid {
    text-align: center;
    background-color: rgb(255, 255, 255);
    display: grid;
    width: 600px;
}

.box {
    border: 2px solid black;
    padding: 5px;
    height: 100px;
    width: auto;
}
.box.selected {
    border: 2px solid yellow;
}


