body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
   
    background-image: url('sfondo.jpg'); /* Specifica il percorso dell'immagine */
    background-size: cover; /* Imposta la dimensione dell'immagine per coprire l'intera pagina */
    background-position: center; /* Centra l'immagine all'interno della pagina */
    margin: 0; /* Rimuove i margini predefiniti del body */
    padding: 0; /* Rimuove il padding predefinito del body */
}

#grid {
    text-align: center;
    background-color: rgb(255, 255, 255);
    display: grid;
    width: 600px;
}

.box {
    border: 2px solid black;
    padding: 5px;
    height: 100px;
    width: auto;
}

